<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"> 
    <%= stylesheet_link_tag "users", media: "all" %>
    <title>Welcome to the Social</title>
  </head>
  <body>
    <div id="main">
      <h1>Look who has joined us!</h1>
        <% @users.each do |user| %>
          <ul>
            <li><%= user.firstname %> <%= user.lastname %><%= link_to 'Show', user_path(user) %></li>
          </ul>
        <% end %>
        <a>New user?<%= link_to 'Sign up now!', new_user_path %></a>
    </div>
  </body>
</html>

