<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <%= stylesheet_link_tag "users", media: "all" %>
    <title>New Profile</title>
  </head>
  <body>
    <div id="main">
    <h1>New Profile</h1>
      <%= form_for (@user) do |f| %>
        <%= render 'shared/error_messages' %>
        <%= f.text_field :firstname, placeholder: "First name", class: "form-control" %>
        <%= f.text_field :lastname, placeholder: "Last name", class: "form-control" %>
        <%= f.text_field :website, placeholder: "Website", class: "form-control" %>
        <%= f.submit "Sign up", class: "submit-button" %>
      <% end %>
     </div>
  </body>
</html>
